*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
header{
  height: 80px;
  color: #440988;
  background-color: rgb(34, 209, 19);
}
.runbutton{
  float: right;
  display: block;
  text-align: center;
  padding: 8px 10px;
  text-decoration: none;
  margin-top: 1px;
  margin-right: 20px;
  background-color: lightblue;
  color: black;
  border-radius: 8px;
  width: 150px;
  cursor: pointer;
}
section,div{
  background-color: black;
  color: white;


}
#output-frame{
  background-color: white;
  width: 100%;
}
#html-area,#css-area,#js-area
{
  background-color: #1d1e22;
  color: white;
}

@media (min-width: 992px)
{
  section{
    float: left;
    border: 1px solid black;
    margin-left: 10px;
    margin-bottom: 20px;
    width: 32%;
  }
  #html-area,#css-area,#js-area
  {
    height: 300px;
    width: 100%;
  }
}